<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" th:replace="~{fragments/layout :: layout(~{::.uk-container})}">
<head>
    <title th:text="${title}"></title>
</head>

<body>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom" uk-height-viewport="expand: true">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-2">
            <img th:src="${dish.image}" alt="">
        </div>
        <div class="uk-width-1-2">
            <h1 th:text="${dish.name}"></h1>
            <div class="uk-margin-top">
                <div th:if="!${dish.energy} and !${dish.protein} and !${dish.carbohydrates} and !${dish.fat} and
                !${dish.fiber} and !${dish.salt}" class="uk-margin uk-text-lead uk-alert"
                     th:text="'Brak danych o wartościach odżywczych'"></div>
                <div th:if="${dish.energy} or ${dish.protein} or ${dish.carbohydrates} or ${dish.fat} or
                ${dish.fiber} or ${dish.salt}" class="uk-margin uk-text-lead" th:text="'Wartości odżywcze'"></div>
                <div th:if="${dish.energy}" class="uk-margin" th:text="'Kalorie: ' + ${dish.energy} + ' kcal'"></div>
                <div th:if="${dish.protein}" class="uk-margin" th:text="'Białko: ' + ${dish.protein} + ' g'"></div>
                <div th:if="${dish.carbohydrates}" class="uk-margin" th:text="'Węglowodany: '+ ${dish.carbohydrates} + ' g'"></div>
                <div th:if="${dish.fat}" class="uk-margin" th:text="'Tłuszcz: '+ ${dish.fat} + ' g'"></div>
                <div th:if="${dish.fiber}" class="uk-margin" th:text="'Błonnik: '+ ${dish.fiber} + ' g'"></div>
                <div th:if="${dish.salt}" class="uk-margin" th:text="'Sól: '+ ${dish.salt} + ' g'"></div>
                <div class="uk-margin-large-top">
                    <a th:href="@{/selected-dish/add/{name}(name=${dish.name})}" class="uk-button uk-button-secondary uk-width-1-2">Wybierz danie</a>
                </div>
            </div>
<!--            <span th:text="${dish.description}"></span>-->
<!--            <div class="uk-margin uk-text-lead" th:text="${#numbers.formatDecimal(product.price, 1, 2)} + 'zł'"></div>-->
<!--            <div class="uk-margin">-->
<!--                <a th:href="@{/shopping-cart/add/{id}(id=${product.id})}" th:if="${product.available}" class="uk-button uk-button-secondary uk-width-1-2">Dodaj do koszyka</a>-->
<!--                <a th:unless="${product.available}" class="uk-button uk-button-default uk-width-1-2">Dodaj do koszyka</a>-->
<!--            </div>-->
        </div>
<!--        <div class="uk-width-1-1">-->
<!--            <h2>Opinie</h2>-->
<!--            <hr>-->
<!--            <div th:each="review : ${reviews}" class="uk-margin-top">-->
<!--                <span class="uk-text-small" th:text="${#temporals.format(review.created, 'dd-MM-yyyy HH:mm')}"></span>-->
<!--                <h4 class="uk-margin-small">-->
<!--                    <span th:text="${review.subject}"></span>-->
<!--                    <span th:classappend="${s > review.rating} ? 'lightgray' : ''" th:each="s : ${#numbers.sequence(1, 5)}" uk-icon="icon: star; ratio: 0.8"></span>-->
<!--                </h4>-->
<!--                <span th:text="${review.description}"></span>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

</body>
</html>
